<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">Caregivers, On a Mission</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0 order-1">
              <figure>
                <img src="images\ability_img.svg" alt="herosection_image">
              </figure>
            </div>
            
            {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-start flex-column">
                <h1>Healing Individuals</h1>
                <h1>Uplifting Communities</h1>
                <p>Delivering a higher standard of care in pursuit of health and happiness for all.<span class="bold-style">Vitality Visit </span>provides gives you homely environment.Our Clinic has all proper facilities.</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>