<div class="sidebar">
        <div class="logo_content">
            <div class="logo">
            <h1 class="logo-name">
                DashBoard
            </h1>
        </div>
        <div class="btn-toggle">
            
        </div>
    </div>
    <ul class="nav" type="none">
        <li>
            <a href="#">
            <i class='bx bxs-calendar'></i>
            <span>Manage Appointment</span>
            </a>
        </li>
       
         <li>
             <a href="#docid">
            <i class='bx bx-plus-medical'></i>
            <span>Manage Doctor</span></a>
        </li>
        
         <li>
             <a href="/patient">
           <i class='bx bx-male-female'></i>
            <span>Manage Patient</span></a>
        </li>
        
        <li>
             <a href="#roomid">
           <i class='bx bx-window'></i>
            <span>Update Rooms</span></a>
        </li>
       
         <li>
             <a href="/">
          <i class='bx bx-paperclip'></i>
            <span>Logout</span></a>
        </li>

    </ul>
    </div>