<div class="sidebar">
        <div class="logo_content">
            <div class="logo">
            <h1 class="logo-name">
                Hello Doc
            </h1>
        </div>
        <div class="btn-toggle">
            
        </div>
    </div>
    <ul class="nav" type="none">
        <li>
            <a href="#">
            <i class='bx bxs-calendar'></i>
            <span>View Appointment</span>
            </a>
        </li>
       
        
         <li>
             <a href="/prescription">
           <i class='bx bx-male-female'></i>
            <span>Checkup-Patient</span></a>
        </li>
       
         <li>
             <a href="/">
            <i class='bx bxs-calendar'></i>
            <span>Logout</span></a>
        </li>

    </ul>
    </div>