<div class="sidebar">
        <div class="logo_content">
            <div class="logo">
            <h1 class="logo-name">
                Panel
            </h1>
        </div>
        <div class="btn-toggle">
            
        </div>
    </div>
    <ul class="nav" type="none">
        <li>
            <a href="/appointment">
            <i class='bx bxs-calendar'></i>
            <span>Manage Appointment</span>
            </a>
        </li>
        <ul class="nav" type="none">
        <li>
            <a href="/">
            <i class='bx bxs-calendar'></i>
            <span>LogOut</span>
            </a>
        </li>
        
       
        

    </ul>
    </div>